:root {
    --color-acordeon: #000D6B;
}

.contenedorBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 400px;
}

.boxPrincipal{
    background-color: #E0D98C;
    width: 200px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 10px;
    border: 3px solid black;
    border-radius: 12px;
    padding: 5px;
}
.home {
    margin: 5px;
}
.contenedorHome{
    padding-left: 60px;
    padding-right: 60px;
}
.busquedaHome{
    border: 1px solid black;
}
.itemsAcordeonHome{

    background-color: var(--color-acordeon);
}

.contenedorEjes{
    background-color: white;
}

.acordeon2 {
    color: white;
    
}

details[open].acordeon2 summary{
    color: #FF5DA2;
}
body {
    background-color: #9C19E0;
}
