.contenedorBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 400px;
}

.boxPrincipal{
    background-color: #ffd900;
    width: 200px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 10px;
    border: 3px solid black;
    border-radius: 12px;
    padding: 5px;
}
.home {
    margin: 5px;
}
.busquedaHome{
    border: 1px solid black;
}
.itemsAcordeonHome{
    background-color: grey;
}

.contenedorEjes{
    background-color: white;
}